body {
    background-image: url("bg.jpg");
    color: #fff;
    font-family: verdana;
}


ul {
    background-color: #fff;
    color: #000;
    margin: 10px;
    list-style: none;
    padding: 10px;
    width: 600px;
}
ul li {
    margin: 10px;
}
